body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
header{
    background-image: url('image 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 450px;
    display: flex;
}
header p{
    position: sticky;
    top: 0;
    color: white;
    font-size: 80px;
    font-family: "L";
    justify-content: center;
    display: block;
    margin: 185px auto;
    text-shadow: #000000;
}
.navbar{
    background-color: #171717;
    height: 60px;
    /* justify-content : center; */
    display: flex;
    /* align-items: center; */
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 40px;
}
li{margin: 0;}
a{
    display: block;
    padding: 20px 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover{background-color: #2a2a2a;}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #171717;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;  
}
.dropdown li:hover{
    background-color: #2a2a2a;
    border-radius: 10px;
}
.dropdown:hover ul{display: block;}


.order{
    margin-left: 800px;
}
.content{
    display: flex;
    margin: 0;
    padding: 0;
}
.imgc{
    /* height: 864px; */
    width: 1152px;
    margin: 0;
    padding: 0;
    display: flex;
}

.right{margin: 80px 100px 75px;}
.judul{
    font-size: 30px;
    font-family: 'Montserrat Light';
}
.dummy{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}
.book{
    justify-content: center;
    display: flex;
    font-size: 30px;
}
input[type="text"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
}
button{
    display: block;
    margin: 0 auto;
}
button[type="submit"] {
    background-color: #171717;
    color: #fff;
    /* justify-content: center; */
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    font-family: inherit;
} 
button[type="submit"]:hover {background-color: gray;}
.pool{
    background-image: url('pool.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 864px;
    display: flex;
}
.txt{
    background-color: #171717;
    height: 100px;
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
}
.txt p{
    color: rgb(208, 179, 15);
    margin: 0 auto;
    font-family: "times new roman";
    font-size: 60px;
}
.pool .img{
    height: 100%;
}
footer{
    background-color: #1d1d1d;
    height: 310px;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    font-weight: 0;
}
.footer{
    margin: 60px 100px;
    font-size: 26px;
}
.isi1{font-size: 16px;}
.hitam{
    background-color: #171717;
    height: 100px;
}